<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Iki</servlet-name>
		<servlet-class>name.leesah.iki.gae.IkiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Iki</servlet-name>
		<url-pattern>/iki</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetUid</servlet-name>
		<servlet-class>name.leesah.iki.gae.GetUidServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetUid</servlet-name>
		<url-pattern>/getuid</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
